@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: "NanumSquareNeo-Variable";
}

.wrapper {
  padding: 50px;
  box-shadow: inset 0 0 10px red;
  margin: 0 auto;
}

h1 {
  width: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 60px;
  font-family: var(--main-font);
  /* background-color: blue; */

  /* box-shadow: inset 0 0 10px darkviolet; */
  text-align: center;
}

.index {
  display: flex;
  box-shadow: inset 0 0 10px blue;
}

.list {
  /* display: flex; */
  padding: 20px;
  box-shadow: inset 0 0 10px green;
}

.list-title {
  font-family: var(--main-font);
  font-size: 24px;
}

.list-ul {
  font-family: var(--main-font);
  font-size: 20px;
  padding: 5px;
}

.list-li {
  margin: 5px;
}

.content-wrapper {
  box-shadow: inset 0 0 10px sienna;
  padding: 50px;
}
.content {
  box-shadow: inset 0 0 50px orangered;
}

.content-title {
  box-shadow: inset 0 0 30px yellow;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: var(--main-font);
}

.content-name {
  font-family: var(--main-font);
  font-size: 32px;
  box-shadow: inset 0 0 10px yellowgreen;
  margin-bottom: 30px;
}

.content-list {
  box-shadow: inset 0 0 10px green;
  width: 100%;
  max-width: 1400px;
  min-width: 800px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.content-item {
  box-shadow: inset 0 0 10px skyblue;
  /* background-color: skyblue; */
  margin: 0 auto;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  text-align: center;
  /* color: bisque;
  font-size: 30px; */
}

.content-link {
  /* display: block; */
  box-shadow: inset 0 0 10px royalblue;
  background-color: aqua;
  width: 100%;

  font-family: var(--main-font);
  font-size: 24px;
  color: red;
}

.content-link :link {
  text-decoration: none;
  color: red;
}

.content-link:visited {
}
.content-link:focus {
}
.content-link:active {
  font-size: 40px;
}
.content-link:hover {
  font-size: 30px;
  color: red;
}
.content-img {
  display: block;
  box-shadow: inset 0 0 10px blue;
  /* background-color: blue; */
  margin: 0 auto;
  margin-bottom: 40px;
}
